
# Aliases
alias ll="ls --color=auto -alh"
alias ls="ls --color=auto -h"
alias grep="grep --color=auto"
alias update="sudo apt-get update"
alias upgrade="sudo apt-get upgrade"
alias full-update="update && upgrade"
alias i="sudo apt install"
alias purge="sudo apt-get purge"
alias s="apt-cache search"
alias less="less -r"
alias unzip-all="7z x -y '*.zip'"
alias zshrc="source ~/.zshrc"
alias vimrc="vim ~/.vimrc"

# System aliases
alias dodo="sudo shutdown now -h"
alias goodnight="sudo shutdown -h +90"
alias reboot="sudo reboot"
alias VPN="sudo service openvpn"
alias CleanKernel="dpkg --list | grep linux-image | awk '{ print $2 }' | sort -V | sed -n '/'`uname -r`'/q;p' | xargs sudo apt-get -y purge"

# Git aliases
alias st="git status"
alias clone="git clone"

alias ...='cd ../..'
alias ....='cd ../../..'
alias mkdir='mkdir -p'
alias rm='rm --interactive=once'
alias cp='cp --interactive'
alias mv='mv --interactive'
alias performance='sudo cpufreq-set -g performance'
alias powersave='sudo cpufreq-set -g powersave'
alias teppelin='ssh -p 80 teppelin.ddns.net'
alias magsen='ssh magsen.ddns.net'
alias nyanpasu='cd /media/data/Musique/Nyanpasu && youtube-dl "https://www.youtube.com/playlist?list=PLXrtzAlxfOCCt7wguLbN5OPSOVId-oA2q" && mid3v2 --TPE2 "Nyanpasu" --album "Nyanpasu" *.mp3 && cd ~'
alias pp='cd /media/data/Musique/pp && youtube-dl "https://www.youtube.com/playlist?list=PLXrtzAlxfOCCjUUc-oIIRRr0teONZ4SY6" && mid3v2 --TPE2 "pp" --album "pp" *.mp3 && cd ~'
alias shinkansen='cd /media/data/Musique/Shinkansen && youtube-dl "https://www.youtube.com/playlist?list=PLXrtzAlxfOCC0_guOCYBBuyjIPj__Roc0" && mid3v2 --TPE2 "Shinkansen" --album "Shinkansen" *.mp3 && cd ~'
alias Shinkansen='shinkansen'
alias Nyanpasu='nyanpasu'
alias Pp='pp'
alias PP='pp'
alias update-yt='pp && nyanpasu && shinkansen && yoda'
alias yoda='cd /media/data/Musique/Yoda && youtube-dl "https://www.youtube.com/playlist?list=PLXrtzAlxfOCCVHBMtm9hXMfqkq_umr3KB" && mid3v2 --TPE2 "Yoda" --album "Yoda" *.mp3 && cd ~'
alias Yoda='yoda'
